//====================================================|
// HIGHLIGHT


//--------------------------| Root

.root {
  display: flex;
  align-items: center;

  i {
    @include dimensions-square(1.8rem);

    margin-right: 0.5rem;

    svg {
      fill: map-get($swatch-colors, 'dusty-gray');
    }
  }
}


//--------------------------| Print styles

@media print {
  .root i {
    transform: translateY(0);
  }
}
