//====================================================|
// PROGRESS BAR


//--------------------------| Root

.root {
  background-color: map-get($roles-col-backgrounds, 'progress');
  border-radius: map-get($roles-borders-radiuses, 'progress');

  span {
    display: block;
    height: 100%;
    background-color: map-get($roles-col-backgrounds, 'bar');
    border-radius: map-get($roles-borders-radiuses, 'progress');
  }
}
