//====================================================|
// ROLES: SPACES


$roles-spaces-min: (
  'app': map-get($swatch-spaces, '10')
);

$roles-spaces-max: (
  'app': map-get($roles-spaces-min, 'app') * map-get($roles-ratios, 'space')
);

$roles-spaces-print: (
  'app': 16mm
);
