//====================================================|
// ROLES: COLORS


//--------------------------| States

$roles-col-icons: (
  'contacts':    map-get($swatch-colors, 'red'),
  'meta':        map-get($swatch-colors, 'dusty-gray'),
  'homepage':    map-get($swatch-colors, 'brown-dark'),
  'linkedin':    map-get($swatch-colors, 'linkedin'),
  'behance':     map-get($swatch-colors, 'behance')
);


//--------------------------| Text

$roles-col-texts: (
  'base':        map-get($swatch-colors, 'mine-shaft'),
  'subtitle':    map-get($swatch-colors, 'brown-dark'),
  'section':     map-get($swatch-colors, 'brown-dark'),
  'info':        map-get($swatch-colors, 'dove-gray'),
  'meta':        map-get($swatch-colors, 'dove-gray'),
  'footer':      map-get($swatch-colors, 'dusty-gray'),
  'negative':    map-get($swatch-colors, 'white')
);


//--------------------------| Links

$roles-col-links: (
  'link':        map-get($swatch-colors, 'brown-light'),
  'hover':       light(map-get($swatch-colors, 'brown-light'), 15%),
  'active':      light(map-get($swatch-colors, 'brown-light'), 30%)
);


//--------------------------| Backgrounds

$roles-col-backgrounds: (
  'app':         map-get($swatch-backgrounds, 'white'),
  'progress':    map-get($swatch-backgrounds, 'pale'),
  'bar':         map-get($swatch-backgrounds, 'alto')
);
