//====================================================|
// ROLES: SIZES


//--------------------------| Avatar

$roles-size-avatar: 120px;


//--------------------------| Icons

$roles-size-doc-icon: 16px;


//--------------------------| Print page

$roles-size-print-page-width: 210mm;
$roles-size-print-page-height: 297mm;
