//====================================================|
// FOOTER


//--------------------------| Root

.root {
  position: relative;
  margin-top: 2rem;
  font-size: map-get($roles-typo-font-sizes, 'footer');
  color: map-get($roles-col-texts, 'footer');
  text-align: center;
  user-select: none;
}


//--------------------------| Services

.services {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  transform: translateY(-50%);

  a {
    margin: 0 0.5rem;
  }

  svg {
    fill: currentColor;
  }
}


//--------------------------| Print styles

@media print {
  .root {
    margin-top: 0;
  }

  .services {
    display: none;
  }
}
