<!DOCTYPE html>

<html lang="bg">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Language" content="bg"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled" />

    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.cover %>"/>
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.homepage %>"/>
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>"/>
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.cover %>"/>

    <link href="images/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="images/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="images/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="images/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="images/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="images/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="images/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
  </head>

  <body ontouchstart="">
    <div id="root">
      <div class="spinner">
        <span class="spinner-inner-1"></span>
        <span class="spinner-inner-2"></span>
        <span class="spinner-inner-3"></span>
      </div>
    </div>
  </body>
</html>
