//====================================================|
// CONTACT


//--------------------------| Root

.root {
  display: inline-block;
  align-items: center;
  font-size: map-get($roles-typo-font-sizes, 'contact');
  font-weight: map-get($roles-typo-font-weights, 'contact');
  white-space: nowrap;
}


//--------------------------| Icon

.icon {
  @include dimensions-square(1rem);

  display: inline-block;
  margin-right: 0.3rem;
  transform: translateY(0.2rem);
}

.email {
  //
}

.phone {
  @media screen {
    display: none;
  }
}

.location {
  //
}

.homepage {
  svg {
    fill: map-get($roles-col-icons, 'homepage');
  }
}

.linkedin {
  svg {
    fill: map-get($roles-col-icons, 'linkedin');
  }
}

.behance {
  svg {
    fill: map-get($roles-col-icons, 'behance');
  }
}


//--------------------------| Value

.print-value {
  display: none;
}

//--------------------------| Print styles

@media print {
  .print-value + .value {
    display: none;
  }

  .print-value {
    display: inline;
  }
}
