//====================================================|
// SCAFFOLDINGS: BASE


// Document
//
// 1. Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
// 2. Change the default font family in all browsers.
// 3. Correct the line height in all browsers.
// 4. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
// 5. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so
//    we force a non-overlapping, non-auto-hiding scrollbar to counteract.
// 6. Change the default tap highlight to be completely transparent in iOS.


//--------------------------| Normalize

@import 'normalize.css';


//--------------------------| Box model

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}


//--------------------------| Document

html {
  $min-font-size: map-get($roles-typo-font-sizes-base, 'min');
  $max-font-size: map-get($roles-typo-font-sizes-base, 'max');

  @include scaler(font-size, $min-font-size, $max-font-size);
}

body {
  @include font-smoothing();

  -webkit-tap-highlight-color: rgba(map-get($swatch-colors, 'black'), 0);
  color: map-get($roles-col-texts, 'base');

  * {
    @include selection(light(map-get($swatch-colors, 'brown-light'), 66%));
  }
}

// Print only one page
@media print {
  html,
  body {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
  }
}


//--------------------------| Text

strong {
  font-weight: map-get($swatch-font-weights, 'bold');
}


//--------------------------| Links

a {
  text-decoration: none;
  cursor: pointer;
  transition: color map-get($roles-transitions, 'links') ease;
}


//--------------------------| Images

img {
  pointer-events: none;
  user-select: none;
}


//--------------------------| Graphics

svg {
  overflow: initial; // fix for Safari where part of the graphics is being cropped in the bottom
}


//--------------------------| Global styles

:global {
  @media screen {
    .phone {
      display: none;
    }
  }
}
