//====================================================|
// SCAFFOLDINGS: TYPOGRAPHY


//--------------------------| Variables

$fonts-dir: '../../assets/fonts';
$fonts-prefix: 'cv';

$font-faces: (
  // Family: HS Grotesk
  // Source: https://localfonts.eu/product/hk-grotesk-free/
  // Design: Stefan Peev
  'sans': (
    'family': (
      'r': map-get($swatch-font-weights, 'regular'),
      's': map-get($swatch-font-weights, 'semibold'),
      'b': map-get($swatch-font-weights, 'bold')
    ),
    'italic': false
  )
);


//--------------------------| Mixins

@mixin font-face($font-name, $style-name, $weight, $style: 'normal') {
  $style-name: if($style == 'italic', '#{$style-name}i', '#{$style-name}');
  $path: '#{$fonts-dir}/#{$fonts-prefix}–#{$font-name}/#{$style-name}';

  @font-face {
    font-family: '#{$fonts-prefix}–#{$font-name}';
    font-style: unquote($style);
    font-weight: $weight;
    src: url('#{$path}.woff2') format('woff2'),
    url('#{$path}.woff') format('woff');
  }
}


//--------------------------| Definitions

@for $f from 1 through length($font-faces) {
  $font-name: nth(nth($font-faces, $f), 1);
  $font-data: map-get($font-faces, $font-name);
  $font-styles: map-get($font-data, 'family');

  @for $s from 1 through length($font-styles) {
    $style-name: nth(nth($font-styles, $s), 1);
    $weight: map-get($font-styles, $style-name);

    @include font-face($font-name, $style-name, $weight);

    @if map-get($font-data, 'italic') == true {
      @include font-face($font-name, $style-name, $weight, 'italic');
    }
  }
}
