//====================================================|
// HEADER


//--------------------------| Root

.root {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: get-rem-unit($roles-size-avatar);

  @include mq-device-holding-type('inpocket') {
    text-align: center;
  }

  @include mq-tablet-breakpoint('below') {
    flex-direction: column;
    height: auto;
  }

  a {
    color: map-get($roles-col-texts, 'base');

    @media (hover: hover) {
      &:hover:not(:active) {
        color: map-get($roles-col-links, 'hover');
      }
    }

    &:active {
      color: map-get($roles-col-links, 'active');
    }
  }
}


//--------------------------| Cell

.cell {
  $width: (map-get($swatch-screens, 'min') - (map-get($roles-spaces-min, 'app') * 3)) / 2;

  display: flex;
  align-items: center;
  width: ($width * 100%) / map-get($swatch-screens, 'min');
  height: 100%;

  @include mq-device-holding-type('inpocket') {
    flex-direction: column;
  }

  @include mq-tablet-breakpoint('below') {
    width: 100%;
    height: auto;
  }
}


//--------------------------| Main

.main,
.links {
  height: 94%;

  @include mq-tablet-breakpoint('below') {
    height: auto;
  }
}

.main {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
}


//--------------------------| Contacts

.contacts {
  @include mq-device-holding-type('inpocket') {
    > div {
      justify-content: center;
    }
  }

  @include mq-tablet-breakpoint('below') {
    margin-top: 0.5rem;
  }

  svg {
    fill: map-get($roles-col-icons, 'contacts');
  }

  > div {
    flex-direction: row;
    justify-content: normal;

    > *:not(:first-child) {
      margin-left: 1rem;
    }
  }
}


//--------------------------| Links

.links {
  flex: 1;

  @include mq-device-holding-type('inpocket') {
    > div {
      flex-direction: column !important;
      flex-wrap: wrap;
      justify-content: center !important;
      margin-top: 0.5rem;
      text-align: left;

      > span {
        margin: 1rem 0 0 !important;
      }
    }
  }

  @include mq-tablet-breakpoint('below') {
    margin-top: 1rem;

    > div {
      flex-direction: row;
      justify-content: normal;

      > span {
        padding: 0;
      }

      > span:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  > div {
    > span {
      padding: 0.5rem 0; // fix for Microsoft Edge
    }
  }
}


//--------------------------| Avatar

.root picture {
  @include mq-device-holding-type('inpocket') {
    top: -#{$roles-size-avatar} !important;
    left: 50%;
    transform: translateX(-50%);
  }

  @include mq-tablet-breakpoint('below') {
    @include dimensions-square($roles-size-avatar * 0.75);

    position: absolute;
    top: 0;
    right: 0;
  }
}


//--------------------------| Print styles

@media print {
  .cell {
    width: ($roles-size-print-page-width - (map-get($roles-spaces-print, 'app') * 3)) / 2;
  }
}
