//====================================================|
// META GROUP


//--------------------------| Root

.root {
  display: flex;

  @include mq-device-holding-type('inpocket') {
    justify-content: center;
  }

  span {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
